forcebiology
/data
data_exploration.ipynb
__pycache__
wandb
failed_segmentation_2dunet.png
reasonable_segmentation_unet2d.png
segmentation_metrics_accross_channels.png
segmentation_with_and_without_preprocessing.png
early_stopping_modelablation_channel_base_unet_1.pth
early_stopping_modelablation_channel_base_unet_2.pth
early_stopping_modelablation_channel_base_unet_3.pth
early_stopping_modelablation_channel_base_unet_4.pth
early_stopping_modelablation_channel_base_unet_9.pth
early_stopping_modelablation_channel_base_unet_10.pth
early_stopping_modelablation_channel_base_unet_11.pth
early_stopping_modelUnet_simple_11_nopreprocess.pth
early_stopping_modelUnet_simple_11_preprocess.pth
early_stopping_modelUnet3D_simple_11_no_preprocess.pth
early_stopping_modelUnet3D_simple_11_preprocess.pth
early_stopping_modelUnetBase_Brightfield.pth
early_stopping_modelablation_channel_base_unet_5.pth
early_stopping_modelablation_channel_base_unet_6.pth
early_stopping_modelablation_channel_base_unet_7.pth
early_stopping_modelablation_channel_base_unet_8.pth